.MessageInput {

    display: flex;   
    align-items: center; 
    justify-content: stretch;
    position: absolute;
    bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;

}

.MessageInputInput {
    padding: 10px;
    padding-left: 30px;
    outline: none;
    border: none;
    margin: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 32px;
    -webkit-box-shadow: 5px 12px 19px -2px rgba(0,0,0,0.36);
    -moz-box-shadow: 5px 12px 19px -2px rgba(0,0,0,0.36);
    box-shadow: 5px 12px 19px -2px rgba(0,0,0,0.36);
}

.MessageInputSubmit {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    -webkit-filter: drop-shadow(5px 12px 19px rgba(0, 0, 0, 0.36));
    filter: drop-shadow(5px 12px 19px rgba(0, 0, 0, 0.36));    
    border: 2px solid #008C76FF;
    
}

.MessageInputSubmitInner {
    background-color: #008C76FF;  
    width: 30px;
    height: 30px;  
    border-radius: 50%; 
    box-shadow: 5px 12px 19px -2px rgba(0,0,0,0.36);
}


.MessageInputSubmitInner:hover {
    background-color: rgb(231, 129, 129);
}

.MessageInputInput:valid + .MessageInputSubmit {
    
    display: inline;
    
}