.AddHomeScreen {
    position: absolute;
    bottom: 0;    
    width: var(--app-width);
    height: 50px;
    display: flex;
    background-color: rgba(59, 59, 59, 0.9);  
    justify-content: center;
    align-items: center; 
    font-size: 20px; 
    animation: showa2hs 2s;
}

.AddHomeScreenHidden {
    animation: hidea2hs 2s;
    transform: translateY(100%);

}

@keyframes hidea2hs {
    
    0% { transform: translateY(0%);}
    100% {transform: translateY(100%);}    
    
}

@keyframes showa2hs {
    0% { transform: translateY(100%);}
    100% {transform: translateY(0%);}
}

.AddHomeScreen p {    
    text-align: center;
    color: white;
    flex: 3;
}

.AddHomeScreenImage {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid rgb(161, 161, 161);
    object-fit: cover;
}

.AddHomeScreen button {
    margin: 2px;    
    padding: 5px;
    width: 35px;
    height: 35px;
    color: white;
    border-style: none;
    border-radius: 5px;
    margin: 3px;
}

.AddHomeScreen button:nth-child(1) {
    background-color: rgb(252, 64, 74);
}


.AddHomeScreen button:nth-child(2) {
    background-color: teal;
}

.AddHomeScreenButtons {
    margin-left: auto;
    flex: 1;
    text-align: center;
}
