.ChatBox {

    border: 1px solid black;
    width: 400px;
    height: 700px;
    text-align: center;
    box-sizing: border-box;
    min-width: 400px;
    position: relative;
}

@media only screen and (max-width: 600px){

    .ChatBox{
        width: 100vw;  
        height: 100vh;
    }
  
  }